.featured_header_wrap {
  width: 1000px;
  margin: 0 auto;
  margin-top: 80px;
}

.header__hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 300px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
}

/* .header__hero:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(10, 10, 10, 0.6) 0%,
    rgba(10, 10, 10, 0.6) 60%,
    rgba(10, 10, 10, 1) 100%
  );
} */

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.header__info {
  max-width: 500px;
  margin-top: 10px;
}

.header__title {
  margin: 0 0 10px 0;
  color: white;
}

.header__subtitle {
  font-family: Muli, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #fff;
  margin: 0 0 10px 0;
}

.articles-header-btn {
  color: #fff684;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  padding: 0;
}

.articles-header-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 750px) {
  .featured_header_wrap {
    margin-top: 70px;
  }
}

@media (max-width: 1000px) {
  .featured_header_wrap {
    width: auto;
  }

  .header__hero {
    width: 90%;
  }

  .header__content {
    margin-left: 5%;
    margin-right: 5%;
  }
}
