.featured_header_wrap {
  width: 1000px;
  margin: 0 auto;
  margin-top: 90px;
}

.header__hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 300px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.header__info {
  max-width: 500px;
  margin-top: 10px;
}

.header__title {
  margin: 0 0 10px 0;
  color: white;
}

.header__subtitle {
  font-family: Muli, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #fff;
  margin: 0 0 10px 0;
}

.articles-header-btn {
  color: #fff684;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  padding: 0;
}

.articles-header-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 750px) {
  .featured_header_wrap {
    margin-top: 50px;
    width: auto;
  }

  .header__hero {
    width: 100%;
  }

  .header__content {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 1000px) and (min-width: 750px) {
  .featured_header_wrap {
    width: auto;
    margin-top: 70px;
  }

  .header__hero {
    width: 100%;
  }

  .header__content {
    margin-left: 5%;
    margin-right: 5%;
  }
}
