body {
  font-family: helvetica;

  margin: 0;
  padding: 0;
  min-height: 100vh;

  background: rgb(44, 61, 88);
  background: linear-gradient(
    180deg,
    rgba(44, 61, 88, 1) 0%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
}
